In [1]:
import pandas as pd 
import numpy as np

In [4]:
links_small = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/links.csv')
movies_small = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/movies.csv')
ratings_small = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/ratings.csv')
tags_small = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/tags.csv')

In [17]:
gen_score = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest/genome-scores.csv')
gen_tags = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest/genome-tags.csv')

In [7]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
links_small.describe()

             movieId        imdbId         tmdbId
count    9742.000000  9.742000e+03    9734.000000
mean    42200.353623  6.771839e+05   55162.123793
std     52160.494854  1.107228e+06   93653.481487
min         1.000000  4.170000e+02       2.000000
25%      3248.250000  9.518075e+04    9665.500000
50%      7300.000000  1.672605e+05   16529.000000
75%     76232.000000  8.055685e+05   44205.750000
max    193609.000000  8.391976e+06  525662.000000

In [58]:
movies_small.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [29]:
movies_small['title'].describe() #movies_small has duplicate data

count                                       9742
unique                                      9737
top       Confessions of a Dangerous Mind (2002)
freq                                           2
Name: title, dtype: object

In [45]:
movies_small['title'].value_counts()

Confessions of a Dangerous Mind (2002)          2
Eros (2004)                                     2
Saturn 3 (1980)                                 2
War of the Worlds (2005)                        2
Emma (1996)                                     2
                                               ..
The Hunger Games: Mockingjay - Part 2 (2015)    1
Vagabond (Sans toit ni loi) (1985)              1
That Thing You Do! (1996)                       1
Clash of the Titans (1981)                      1
Freaky Friday (1977)                            1
Name: title, Length: 9737, dtype: int64

In [10]:
movies_small.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [11]:
ratings_small.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [57]:
ratings_small['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [13]:
tags_small.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [38]:
tags_small['tag'].describe()

count                 3683
unique                1589
top       In Netflix queue
freq                   131
Name: tag, dtype: object

In [42]:
tags_small['tag'].value_counts()

In Netflix queue     131
atmospheric           36
thought-provoking     24
superhero             24
funny                 23
                    ...
Palahnuik              1
black-and-white        1
Mount Rushmore         1
mind-blowing           1
ogres                  1
Name: tag, Length: 1589, dtype: int64

In [14]:
tags_small.describe()

            userId        movieId     timestamp
count  3683.000000    3683.000000  3.683000e+03
mean    431.149335   27252.013576  1.320032e+09
std     158.472553   43490.558803  1.721025e+08
min       2.000000       1.000000  1.137179e+09
25%     424.000000    1262.500000  1.137521e+09
50%     474.000000    4454.000000  1.269833e+09
75%     477.000000   39263.000000  1.498457e+09
max     610.000000  193565.000000  1.537099e+09

In [56]:
gen_tags.head(40)

    tagId                     tag
0       1                     007
1       2            007 (series)
2       3            18th century
3       4                   1920s
4       5                   1930s
5       6                   1950s
6       7                   1960s
7       8                   1970s
8       9                   1980s
9      10            19th century
10     11                      3d
11     12                    70mm
12     13                     80s
13     14                    9/11
14     15                 aardman
15     16         aardman studios
16     17                abortion
17     18                  absurd
18     19                  action
19     20           action packed
20     21              adaptation
21     22       adapted from:book
22     23      adapted from:comic
23     24       adapted from:game
24     25               addiction
25     26             adolescence
26     27                adoption
27     28                adultery
28     29               adventure
29     30            affectionate
30     31                 afi 100
31     32        afi 100 (laughs)
32     33  afi 100 (movie quotes)
33     34                  africa
34     35               afterlife
35     36                   aging
36     37                    aids
37     38                airplane
38     39                 airport
39     40                  alaska

In [53]:
gen_tags['tag'].describe()

count               1128
unique              1128
top       blaxploitation
freq                   1
Name: tag, dtype: object

In [21]:
gen_tags.describe()

             tagId
count  1128.000000
mean    564.500000
std     325.769857
min       1.000000
25%     282.750000
50%     564.500000
75%     846.250000
max    1128.000000

In [18]:
gen_score.head()

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425
3        1      4    0.06875
4        1      5    0.16000

In [55]:
gen_score['relevance'].describe()

count    1.486253e+07
mean     1.153631e-01
std      1.554320e-01
min      2.500000e-04
25%      2.300000e-02
50%      5.450000e-02
75%      1.390000e-01
max      1.000000e+00
Name: relevance, dtype: float64

In [22]:
#null check 
links_small.isnull().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [60]:
links_small[links_small['tmdbId'].isnull()]

      movieId  imdbId  tmdbId
624       791  113610     NaN
843      1107  102336     NaN
2141     2851   81454     NaN
3027     4051   56600     NaN
5532    26587   92337     NaN
5854    32600  377059     NaN
6059    40697  105946     NaN
7382    79299  874957     NaN

In [23]:
movies_small.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [24]:
ratings_small.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [25]:
tags_small.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [27]:
gen_score.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [26]:
gen_tags.isnull().sum()

tagId    0
tag      0
dtype: int64